* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

canvas { 
  height: 100%; 
  width: 100%; 
  display: block;
}

.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}